*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    display: flex;
    width: 100%;
    height: 100%;
  
}
#left{
    position: relative;
    width: 40%;
    height: 100%;
    background-color: rgb(228, 204, 166);
  
}
#lnav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 30px;
}
#lnavr{
    display: flex;
    align-items: center;
}
#lnavr a{
margin-right: 20px;
text-decoration: none;
color: black;
font-weight: 500;
font-size: 14px;
}
#lnavr i{
    color: royalblue;
}
#left #textcenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#textcenter h1{
    font-size: 90px;
    font-weight: 900;

}
#textcenter p{
    opacity: .6;
    font-size: 12px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#textcenter a {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    font-size: 13px;
    font-weight: 600;
    opacity: .6;
}
#right{
    width: 60%;
    height: 100%;
    background-color: aliceblue;
}
#rightTop{
    width: 100%;
    height: 50%;
   
    display: flex;
}
#rightBottom{
    width: 100%;
    height: 50%;
    background-image: url(simon-berger-aZjw7xI3QAA-unsplash.jpg);
    background-size: cover;
background-position: center;
}
#rleft{
    width: 55%;
    height: 100%;
  
    background-image: url(phonepicutre.webp);
background-size: cover;
background-position: center;
}
#rright{
    width: 45%;
    height: 100%;
    background-image: url(hoach-le-dinh-c8TWWQ5ZnUw-unsplash.jpg);
    background-size: cover;
background-position: center;
}